body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 60px;
    text-align: center;
    background: #4697da;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    position: sticky;
    margin-bottom: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 2px 12px;
    text-decoration: none;
}

.post-list {
    background-color: rgb(255, 255, 255);
}

.post {
    background: #ffffff;
    padding: 10px 15px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 10px;
}

.post img {
    max-width:200px;
    max-height:85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post h2,
.post p,
.post a {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    word-wrap: break-word;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    object-fit: contain;
    word-wrap: break-word;
}

.content-section img{
    width: 100%;
    object-fit: contain;
}

.button {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    border: 1px solid #dddddd;
    transition-duration: 0.1s;
    text-decoration-line: none;
    padding: 5px;
}

.button:hover {
    background-color: rgb(71, 71, 71);
    color: white;
}

.footer {
    padding: 10px;
    text-align: center;
    background: #333;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}