{% extends 'posts/base.html' %}

{% block header %}
<div class="header">
    <h1><b>Andreas Blog</b></h1>
    <p>This site barely works</p>
</div>
{%endblock header %}

{% block content %}
{% for post in all_posts %}
<section class="post">
    <div class="row">
        <div class="col-md-3">
            <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}"></a>
        </div>
        <div class="col-md-9">
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p>{{ post.author }} {{ post.date|date:"j.n.Y" }}</p>
        </div>
    </div>
</section>
    
{% endfor %}
{% endblock content %}