{% extends 'posts/base.html' %}

{% block header %}
<div class="header">
    <h1><b>Andreas Blog</b></h1>
    <p>This site barely works</p>
</div>
{%endblock header %}

{% block content %}
{% for post in all_posts %}
<section class="post">
    <div class="row">
        <div class="col-md-3">
            <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}"></a>
        </div>
        <div class="col-md-9">
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p>{{ post.author }} {{ post.date|date:"j.n.Y" }}</p>
        </div>
    </div>
</section>
    
{% endfor %}

{% if all_posts.has_previous %}
    <a href="?page={{ all_posts.previous_page_number }}"
        class="pager-prev{% if not all_posts.has_previous %} inactive{% endif %}">
        <button class="button">Previous page</button></a>
{% endif %}
{% if all_posts.has_next %}
    <a href="?page={{ all_posts.next_page_number }}"
        class="pager-next{% if not all_posts.has_next %} inactive{% endif %}">
        <button class="button">Next page</button></a>

{% endif %}
{% endblock content %}